body {
    background-color: #D5DCDE;
    margin-top: 50px;
}

.board {
    margin: 0 auto;
    width: 1000px;
}

.row {
    display: block;
    clear: both;
}

.cell {
    width: 20px;
    height: 20px;
    margin: 1px;
    float: left;
}

.live {
    background-color: #2A2D2E;
}

.dead {
    background-color: #E9EEF0;
}
